.header {
    background: url("../src/assets/banner.jpg") no-repeat ;
    background-size: cover;
    min-height: 100vh;
  }

  .header .navbar {
    background-color: white ;
  }
.navbar {
  width: 68%;
  margin: 0 auto;
  margin-top: ;
}