@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap');
.header {
  background: linear-gradient(to right,
      rgba(5, 12, 34, 0.5),
      rgba(22, 215, 177, 0)),
    url("./assets/banner.jpg");
  width: 100%;
  height: 100vh;
  background-size: cover;
  display: inline-block;
}

.header .navbar {
  background-color: #ffffff;
}

.navbar {
  height: 5.6rem;
  width: 65%;
  margin: 0 auto;
  margin-top: 9%;
}

img{
  height: 55px;
  margin-left: 2rem;
  margin-top: -8px;
  display: inline-block;
}
li{
  position: relative;
  margin-left: 2.5rem;
}

li::after{
  content: "";
  width: 0;
  height: 4px;
  background-color: #EF9A2A;
  position: absolute;
  bottom: 0;
  right: 79%;
  transition: all .5s;
}

li:hover::after{
  width: 100%;
  right: 0;
}

.nav-item .nav-link{
  font-family: 'Mukta', sans-serif;
}

.dropdown-menu .dropdown{
  font-family: 'Mukta', sans-serif;
  color: black;
}

.LogoName{
  letter-spacing: 2px;
  font-family: 'Roboto Mono', monospace;
  font-size: 2rem;
  margin-left: 10%;
  
}
.sublogo{
  font-size: 8px;
  letter-spacing: 2px;
  word-spacing: 4px;
  margin-left: 6.5rem;
  margin-top: -.7rem;
}

.text-banner h1 {
  margin-top: 27%;
  font-family: 'Poppins', sans-serif;
  color: white;
  margin-left: 23%;
  font-size: 3.5rem;
  width: 26%;
  margin-top: 16%;
}

.hr-banner{
  background-color: #EF9A2A;
  height: 6px;
  width: 28%;
  margin-left: 22%;
  border-radius: 9px;
  margin-bottom: 24px;
}

.text-p p {
  color: white;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, serif;
  width: 22%;
  margin-left: 23%;
  font-size: 15px;
}

.sub-cons{
  text-align: center;
  margin: 4rem 0 0px;
  padding: 0;
}
.hr{
  background-color: #EF9A2A;
  height: 4px;
  width: 12%;
  margin: 0 auto;
  border-radius: 9px;
  margin-bottom: 24px;
}
.cards{
  background-color: rgba(196, 196, 196, 0.5);
}

.card-group .card{
  margin: 14px 33px 28px  ;
  margin-top: 2%;
}

.card-img-top{
  height: 100px;
  width: 100px;
  margin-top: 4rem;
  position: relative;
  margin-left: 30%;
}

.hr1{
  background-color: #EF9A2A;
  height: 6px;
  width: 80%;
  margin: 0 auto;
  border-radius: 9px;
  margin-bottom: 24px;
}

.h5{
  text-align: center;
}

.direccion{
  margin-left: 26%;
  margin-top: 1.6%;
  display: inline-block;
}

.g-maps{
  margin-top: -15.2%;
  margin-right: 22%;
}

iframe{
  height: 500px;
  width: 600px;
}