.header .navbar {
    background-color: #ffffff;
  }
  
  .navbar {
    height: 5.6rem;
    width: 65%;
    margin: 0 auto;
    margin-top: 9%;
  }
  
  img{
    height: 55px;
    margin-left: 2rem;
    margin-top: -8px;
    display: inline-block;
  }
  li{
    position: relative;
    margin-left: 2.5rem;
  }
  
  li::after{
    content: "";
    width: 0;
    height: 4px;
    background-color: #EF9A2A;
    position: absolute;
    bottom: 0;
    right: 79%;
    transition: all .5s;
  }
  
  li:hover::after{
    width: 100%;
    right: 0;
  }
  
  .nav-item .nav-link{
    font-family: 'Mukta', sans-serif;
  }
  
  .dropdown-menu .dropdown{
    font-family: 'Mukta', sans-serif;
    color: black;
  }
  
  .LogoName{
    letter-spacing: 2px;
    font-family: 'Roboto Mono', monospace;
    font-size: 2rem;
    margin-left: 10%;
    
  }
  .sublogo{
    font-size: 8px;
    letter-spacing: 2px;
    word-spacing: 4px;
    margin-left: 6.5rem;
    margin-top: -.7rem;
  }